html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
    /* Убирает подчеркивание ссылок */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* Убирает маркеры в списке */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

:root {
    --bg-color: #ffffff;
    --text-color-primary: #18191F;
    --text-color-secondary: #ffffff;
    --text-color-tertiary: #969BAB;
    --text-color-quaternary: #D9DBE1;
    --color-accent: #8C30F5;
    --color-hover-button: #540fa4;
    --bg-project-management: #2EC5CE;
    --bg-testimonials: #D5FAFC;
}

.container {
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 480px) {
    .container {
        width: 90%;
        /* Устанавливаем ширину контейнера как 90% от ширины вьюпорта */
        max-width: none;
        /* Сбрасываем максимальную ширину, если была установлена */
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        /* Устанавливаем ширину контейнера в 480px для экранов от 480px и более */
        max-width: 100%;
        /* Сбрасываем фиксированную ширину, если была установлена */
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1090px) {
    .container {
        width: 1090px;
    }
}


/* Header */

.header {
    display: flex;
}

.logo {
    color: var(--text-color-primary);

    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.42;
    /* 142.857% */
}

.logo:hover,
.logo:focus {
    color: var(--color-accent);
    transition: color 250ms;
}

@media (max-width: 480px) {
    .header {
        display: flex;
        justify-content: center;
    }

    .logo {
        font-size: 24px;
        line-height: 1.5;
    }
}


/* Hero */

.hero {
    height: 800px;
    background-image: url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    padding-top: 100px;
    margin-bottom: 48px;

    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.36;
    /* 136.111% */
}

.hero-text {
    margin-bottom: 48px;

    width: 730px;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77;
    /* 177.778% */
}

.modal-button {
    display: inline-block;
    padding: 16px 41px;


    border: none;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    /* 150% */

    border-radius: 8px;
    color: var(--text-color-secondary);
    background: var(--color-accent);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--color-hover-button);
    transition: color 250ms;
}

@media (max-width: 480px) {
    .hero {
        height: auto;
        background-image: none;
        text-align: center;
    }

    .hero-title {
        font-size: 36px;
        padding-top: 50px;
        margin-bottom: 24px;
    }

    .hero-text {
        width: auto;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 24px;
    }

    .modal-button {
        font-size: 16px;
        padding: 12px 24px;
    }

}



/* Partners */

.partners-title {
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;

    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.33;
    /* 133.333% */
}

.partners-list {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media (max-width: 480px) {
    .partners-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px 40px;
        /* Увеличиваем расстояние только по горизонтали */
        padding-top: 12px;
        padding-bottom: 12px;
        width: 224px;
        /* (100px * 2 элемента) + (12px * 1 gap) */
        margin: 0 auto;
        /* Центрируем сетку */
    }

    .partner-logo {
        display: block;
        margin: 0 auto;
    }
}

/* Features */

.features-title {
    margin-bottom: 8px;
    padding-top: 64px;
    text-align: center;

    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.33;
    /* 133.333% */
}

.features-description {
    margin-bottom: 48px;
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77;
    /* 177.778% */
}

.features-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-bottom: 64px;
}

.features-list__title {
    text-align: center;

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    /* 133.333% */
}

.features-list__description {
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.62;
    /* 162.5% */
}

.features-item__robust:before {
    content: url('../images/robust-workflow.svg');
    justify-content: center;
    display: flex;
    margin-bottom: 24px;
}

.features-item__flexibility:before {
    content: url('../images/flexibility.svg');
    justify-content: center;
    display: flex;
    margin-bottom: 24px;
}

.features-item__user:before {
    content: url('../images/user.svg');
    justify-content: center;
    display: flex;
    margin-bottom: 24px;
}

.features-item__multiple:before {
    content: url('../images/multiple.svg');
    justify-content: center;
    display: flex;
    margin-bottom: 24px;
}

.features-item__better:before {
    content: url('../images/better.svg');
    justify-content: center;
    display: flex;
    margin-bottom: 24px;
}

.features-item__well:before {
    content: url('../images/well.svg');
    justify-content: center;
    display: flex;
    margin-bottom: 24px;
}

@media (max-width: 480px) {
    .features-list {
        display: flex;
        flex-direction: column;
        /* Элементы будут располагаться один за другим вниз */
        gap: 16px;
    }

    .features-item__robust,
    .features-item__flexibility,
    .features-item__user,
    .features-item__multiple,
    .features-item__better,
    .features-item__well {
        width: 100%;
        margin-bottom: 16px;
        padding: 16px;
        background-color: #f8f8f8;
        border-radius: 8px;
    }

    .features-list__title {
        font-weight: bold;
        color: #333;
    }

    .features-list__description {
        color: #666;
    }
}

/* Testimonials */

.testimonials {
    background-color: var(--bg-testimonials);
}

.testimonials-title {
    padding-top: 120px;
    margin-bottom: 8px;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.33;
    /* 133.333% */
}

.testimonials-description {
    margin-bottom: 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77;
    /* 177.778% */
}

.testimonials-list {
    display: flex;
    gap: 30px;
    padding-bottom: 120px;
}

.testimonial-item {
    width: 350px;
    padding: 32px;
    border-radius: 8px;
    background-color: var(--text-color-secondary);
    /* Dark Shadow */
    box-shadow: 0px 10px 20px 0px rgba(41, 41, 42, 0.07);
}

.testimonial-item__description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77;
    /* 177.778% */
}

.testimonial-item__name {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.55;
    /* 155.556% */
}

.testimonial-item__position {
    color: var(--text-color-tertiary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71;
    /* 171.429% */
}

@media (max-width: 480px) {
    .testimonials {
        display: none;
    }
}

/* Experience */

.experience {
    display: flex;
}

.experience-title {
    width: 540px;
    margin-bottom: 8px;
    padding-top: 80px;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.33;
    /* 133.333% */
}

.experience-description {
    width: 540px;
    padding-bottom: 80px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77;
    /* 177.778% */
}

.experience-list {
    margin-right: 30px;
    padding-top: 80px;
    padding-bottom: 80px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Два столбца */
    grid-template-rows: repeat(2, auto);
    gap: 30px;
}

.experience-item__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.43;
    /* 142.857% */
}

.experience-item__description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.62;
    /* 162.5% */
}

@media (max-width: 480px) {
    .experience {
        display: none;
    }
}

/* Call to Action */

.call-to-action {
    display: flex;
    gap: 30px;
}



.call-to-action__title {
    margin-bottom: 32px;
    padding-top: 116px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.35;
    /* 135% */
}

.call-to-action__description {
    margin-bottom: 32px;
    width: 444px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77;
    /* 177.778% */
}

@media (max-width: 480px) {
    .call-to-action {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .call-to-action__block {
        text-align: center;
    }

    .call-to-action__image {
        width: 100%;
        height: auto;
    }

    .call-to-action__title {
        font-size: 24px;
    }

    .call-to-action__description {
        width: auto;
        font-size: 14px;
        line-height: 1.5;
    }

    .modal-button {
        margin-top: 10px;
    }
}

/* Call to Action-2 */

.call-to-action-2-block {
    display: flex;
}

.call-to-action-2-title {
    padding-top: 64px;
    padding-bottom: 48px;
    width: 540px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.35;
    /* 135% */
}

.call-to-action-2-description {
    padding-top: 64px;
    padding-bottom: 48px;
    margin-left: 30px;
    width: 540px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77;
    /* 177.778% */
}

.fontsize {
    padding-top: 0;
    font-size: 14px;
}

.call-to-action-2-images {
    padding-bottom: 64px;

}

@media screen and (max-width: 480px) {
    .call-to-action-2-block {
        display: block;
        /* изменяем на блочный элемент для мобильных устройств */
    }

    .call-to-action-2-title,
    .call-to-action-2-description {
        text-align: center;
        padding-top: 32px;
        /* уменьшаем верхний отступ для мобильных устройств */
        padding-bottom: 32px;
        /* уменьшаем нижний отступ для мобильных устройств */
        width: auto;
        /* устанавливаем автоматическую ширину для мобильных устройств */
        font-size: 24px;
        /* уменьшаем размер шрифта для мобильных устройств */
        line-height: 1.5;
        /* уменьшаем межстрочный интервал для мобильных устройств */
    }

    .fontsize {
        font-size: 12px;
        /* уменьшаем размер шрифта для мобильных устройств */
    }

    .call-to-action-2-images {
        width: 100%;
        /* ширина изображения занимает всю доступную ширину на мобильных устройствах */
        height: auto;
        /* автоматическая высота для изображения на мобильных устройствах */
        padding-bottom: 32px;
        /* уменьшаем нижний отступ для изображения на мобильных устройствах */
    }
}

/* Project Management */

.project-management {
    background-color: var(--bg-project-management);
}

.project-management__block {
    display: flex;
}

.project-management__title {
    padding-top: 68px;
    margin-bottom: 8px;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.33;
    /* 133.333% */
}

.project-management__description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77;
    /* 177.778% */
}

.project-management__image {
    padding-top: 68px;
    padding-bottom: 68px;
}

@media (max-width: 480px) {
    .project-management {
        display: none;
    }
}

/* Footer */

.logo {
    color: var(--text-color-primary);

    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.42;
    /* 142.857% */
}

.logo:hover,
.logo:focus {
    color: var(--color-accent);
    transition: color 250ms;
}

.footer-logo {
    display: flex;
    color: var(--text-color-secondary);
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.42;
    /* 142.857% */
}

.footer-logo:hover,
.footer-logo:focus {
    color: var(--color-accent);
    transition: color 250ms;
}

.site-footer {
    display: flex;
    background-color: #0B0D17;
}

.footer-logo__image {
    padding-top: 14px;
    margin-bottom: 44px;
    margin-right: 8px;
}

.footer-description {
    margin-top: 10px;
    color: var(--text-color-quaternary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.footer-gratitude__description {
    padding: 24px;
    color: var(--text-color-secondary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77;
    /* 177.778% */
}

@media (max-width: 480px) {
    .site-footer {
        display: none;
    }
}

/* modal style */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="submit"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 480px) {
    .modal-content {
        width: 90%;
        margin: 10% auto;
        padding: 10px;
    }

    .modal-content h2 {
        font-size: 1.2em;
    }

    .modal-content input {
        width: 100%;
    }

    .close {
        font-size: 20px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="submit"] {
        padding: 5px;
    }
}